# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.tarkovdata.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Timo\RiderProjects\tarkovdata\.idea\.idea.tarkovdata.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
